<header class="header">
  <div class="header__logo">
    <h1 class="header__logo__text">Kylogramer</h1>
  </div>
  <nav class="header__nav">
    <div class="header__nav__item">
      <span class="material-symbols-outlined header__nav__item__icon">
        group
      </span>
    </div>
    <div class="header__nav__item">
      <span class="material-symbols-outlined header__nav__item__icon">
        shopping_bag
      </span>
    </div>
    <div class="header__nav__item">
      <span class="material-symbols-outlined header__nav__item__icon">
        payments
      </span>
    </div>
    <div class="header__nav__item">
      <span class="material-symbols-outlined header__nav__item__icon">
        credit_card
      </span>
    </div>
  </nav>
</header>