<header class="header">
  <div class="header__logo">
    <h1 class="header__logo__text">Kylogramer</h1>
  </div>
  <nav class="header__nav">
    <div id="Header__nav__item__client" class="header__nav__item">
      <span class="material-symbols-outlined header__nav__item__icon">
        face
      </span>
    </div>
    <div id="Header__nav__item__sale" class="header__nav__item">
      <span class="material-symbols-outlined header__nav__item__icon">
        shopping_cart
      </span>
    </div>
    <div id="Header__nav__item__product" class="header__nav__item">
      <span class="material-symbols-outlined header__nav__item__icon">
        view_in_ar
      </span>
    </div>
    <div id="Header__nav__item__payment" class="header__nav__item">
      <span class="material-symbols-outlined header__nav__item__icon">
        credit_card
      </span>
    </div>
  </nav>
</header>