.header {
  background-color: var(--cl-white-0);
  border: 1px solid var(--cl-white-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.header__logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo-box__text {
  font-size: 2rem;
  font-weight: 700;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav__item {
  margin: 0 20px;
  cursor: pointer;
  transition: .3s;
}

.material-symbols-outlined.header__nav__item__icon {
  font-size: 2rem;
}

.material-symbols-outlined.header__nav__item__icon:hover {
  color: var(--cl-green-0);
}

@media screen and (max-width: 800px) {
  .header {
    padding: 20px 40px;
  }

  .header__nav {
    background-color: var(--cl-white-0);
    border: 1px solid var(--cl-white-2);
    padding: 20px;
    width: 100vw;
    left: 0;
    bottom: 0;
    position: fixed;
    justify-content: space-around;
  }

  .header__nav__item {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 20px 20px;
    justify-content: center;
  }
}