@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url("./components/header/Header.css");
@import url("./components/pages/client/Client.css");
@import url("./components/pages/payment/Payment.css");
@import url("./components/pages/product/Product.css");
@import url("./components/pages/sale/Sale.css");

:root {
  --cl-white-0: #fff;
  --cl-white-1: #eee;
  --cl-white-2: #ccc;
  --cl-black-0: #666;
  --cl-black-1: #333;
  --cl-green-0: green;
  --cl-red-0: darkred;
  --cl-yellow-0: yellow;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--cl-white-1);
}

::-webkit-scrollbar-thumb {
  background: var(--cl-green-0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: var(--cl-black-1);
}

html, body {
  overflow: hidden;
}

.App {
  background-color: var(--cl-white-1);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.--hide {
  display: none !important;
}

@media screen and (max-width: 800px) {
  * {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  * {
    font-size: 9px;
  }
}