/* general */
body {
  padding: 20px 40px;
  position: relative;
}

.row-between {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-none {
  display: none;
}

.color-main {
  color: #000;
}

.color-alt {
  color: #fff;
}

.description {
  margin: 5px;
  margin-bottom: 20px;
}

/* btns default */
.btn {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black;
  color: white;
  transition: .3s;
  border: none;
  cursor: pointer;
}

.btn.btn--icon {
  color: black;
  background-color: transparent;
}

.btn.btn--master {
  flex: 1 1 auto;
  padding: 10px;
  background-color: cyan;
  color: white;
}

.btn.btn--error {
  flex: 1 1 auto;
  padding: 10px;
  background-color: #e45771;
  color: white;
}

.btn.btn--hamburguer {
  visibility: hidden;
}

.btn:hover,
.btn.btn--icon:hover {
  color: #AAA;
}

/* forms default */
.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .input-container {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

.form-row .submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-column {
  display: flex;
  flex-direction: column;
}

.form-column .input-container span {
  font-weight: bold;
  margin: 5px;
}

.form-column .input-container {
  display: flex;
  flex-direction: column;
}

.form-column .submit-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* inputs default*/
.input-default {
  flex: 1 1 auto;
  height: 40px;
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid black;
}

/* sections structure*/
.section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.section-container {
  flex: 1 1 auto;
  max-width: 700px;
}

.nav ul {
  display: flex;
  justify-content: center;
}

/* table */
.table {
  flex: 1 1 auto;
}

.tr {
  display: flex;
  transition: .3s;
  padding: 5px;
}

.td, .th {
  display: flex;
  align-items: center;
  flex: 1 1 100px;
  padding: 5px;
}

.th {
  font-weight: 700;
}

.tbody .tr:hover {
  background-color: #eee;
}

.tbody .tr {
  border-bottom: 1px solid #eee;
}

.td.td--actions {
  flex: 0 0 auto;
}

.th.th--actions {
  flex: 0 0 auto;
}

/* modals */
#modal-add {
  display: none;
}

#modal-add.showModalAdd {
  display: flex;
}

/* message-box */
.modal-message {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #e45771;
  color: #4d0714;
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.modal-message span {
  margin-left: 20px;
}

/* responsive 1000*/
@media (max-width: 1000px) {

  /* general */
  body {
    padding: 20px 20px;
  }

  .btn.btn--icon.btn--icon--alt {
    color: white;
  }

  /* header  */
  .header {
    flex-direction: column;
  }

  .nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    transition: .3s;
    overflow: hidden;
    height: 0;
    background-color: black;
  }

  #nav-header.display-none {
    display: flex;
    padding: 20px 40px;
  }

  .nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 40px;
    width: 100%;
  }

  .nav ul li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
  }

  .btn.btn--hamburguer {
    visibility: visible;
  }

  /* actions */
  .actions-container {
    justify-content: space-between;
  }

}