/* general */
body {
  padding: 20px 40px;
  position: relative;
}

.btn {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black;
  color: white;
  transition: .3s;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn.btn--hamburguer {
  display: none;
}

.btn:hover,
.btn.btn--icon:hover {
  color: #AAA;
}

.btn.btn--icon {
  color: black;
  background-color: transparent;
}

/* header  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo a{
  color: black;
}

.logo.logo--alt a {
  color: white;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav.--nav-show {
  height: 100vh;
}

.nav-actions {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* actions */
.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.actions-container {
  flex: 1 1 auto;
  max-width: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* search */
.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  max-width: 800px;
  
}

.search form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.search form input{
  flex: 1 1 auto;
  height: 40px;
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid black;
}

/* content */
.content {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.content-container {
  flex: 1 1 auto;
  max-width: 800px;
}

.content-table {
  flex: 1 1 auto;
}

.content-tr {
  display: flex;
  align-items: center;
  min-height: 40px;
  transition: .3s;
  padding: 5px;
}

.content-td,
.content-th {
  display: flex;
  align-items: center;
  flex: 1 1 100px;
  padding: 5px;
}

.content-th {
  font-weight: 700;
}

.content-tbody .content-tr:hover {
  background-color: #eee;
}

.content-tbody .content-tr {
  border-bottom: 1px solid #eee;
}

.content-td.content-td--actions {
  flex: 0 0 auto;
}

.content-th.content-th--actions {
  flex: 0 0 auto;
}

/* responsive 1000*/
@media (max-width: 1000px) {

  /* general */
  body {
    padding: 20px 20px;
  }

  .btn.btn--icon.btn--icon--alt {
    color: white;
  }

  /* header  */
  .header {
    flex-direction: column;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    transition: .3s;
    overflow: hidden;
    height: 0;
    background-color: black;
  }

  .nav-actions {
    display: flex;
    padding: 20px 40px;
  }

  .nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 40px;
    width: 100%;
  }

  .nav ul li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
  }

  .btn.btn--hamburguer {
    display: flex;
  }

  /* actions */
  .actions-container {
    justify-content: space-between;
  }

}