<section id="client" class="client --hide">
  <section id="client__page-title" class="client__page-title">
    <h2>Clientes</h2>
    <button id="client__page-title__add__btn" class="client__page-title__add">Novo Cliente</button>
  </section>
  <section id="client__search" class="client__search">
    <form class="client__search__form">
      <label class="client__search__form__input-box client__search__form__input-box--little">
        <span class="client__search__form__input-box__title">Id</span>
        <input class="client__search__form__input-box__input" type="number">
      </label>
      <label class="client__search__form__input-box">
        <span class="client__search__form__input-box__title">Nome</span>
        <input class="client__search__form__input-box__input" type="text">
      </label>
      <label class="client__search__form__input-box client__search__form__input-box--medium">
        <span class="client__search__form__input-box__title">Telefone</span>
        <input class="client__search__form__input-box__input" type="number">
      </label>
    </form>
  </section>
  <section id="client__content" class="client__content">
  </section>
  <section id="client__insert" class="client__insert --hide">
    <div class="client__insert__title-box">
      <h2 class="client__insert__title-box__title">Cadastre o seu Cliente</h2>
    </div>
    <form id="client__insert__form" class="client__insert__form">
      <div class="client__insert__form__input-box">
        <span class="client__insert__form__input-box__title">Nome</span>
        <input 
          class="client__insert__form__input-box__input" 
          type="text" 
          name="client-name" 
          id="client-name"
        >
      </div>
      <div class="client__insert__form__input-box">
        <span class="client__insert__form__input-box__title">Telefone</span>
        <input 
          class="client__insert__form__input-box__input" 
          type="number"
          name="client-phone"
          id="client-phone"
        >
      </div>
      <div id="client__insert__form__error-box" class="client__insert__form__error-box">
      </div>
      <div class="client__insert__form__submit-box">
        <button 
          id="client__insert__form__submit-box__cancel"
          type="button" 
          class="client__insert__form__submit-box__cancel"
        >
          Cancelar
        </button>
        <button  
          class="client__insert__form__submit-box__submit"
        >
          Salvar
        </button>
      </div>
    </form>
  </section>
</section>