<section id="client" class="client --hide">
  <section class="client__page-title">
    <h2>Clientes</h2>
    <button class="client__page-title__add">Nova venda</button>
  </section>
  <section class="client__search">
    <form class="client__search__form">
      <label class="client__search__form__input-box">
        <span class="client__search__form__input-box__title">Nome</span>
        <input class="client__search__form__input-box__input" type="text">
      </label>
      <label class="client__search__form__input-box client__search__form__input-box--medium">
        <span class="client__search__form__input-box__title">Telefone</span>
        <input class="client__search__form__input-box__input" type="number">
      </label>
    </form>
  </section>
  <section class="client__content">
    <div class="client__content__card">
      <div class="client__content__card__name-box">
        <span class="client__content__card__name-box__title">Nome</span>
        <p class="client__content__card__name-box__content">Fernando Henrique Pontes Pereira Silva</p>
      </div>
      <div class="client__content__card__phone-box">
        <span class="client__content__card__phone-box__title">Telefone</span>
        <p class="client__content__card__phone-box__content">(85)985680757</p>
      </div>
      <div class="client__content__card__actions-box">
        <button class="client__content__card__actions-box__action">Editar</button>
        <button class="client__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
    <div class="client__content__card">
      <div class="client__content__card__name-box">
        <span class="client__content__card__name-box__title">Nome</span>
        <p class="client__content__card__name-box__content">Fernando Henrique</p>
      </div>
      <div class="client__content__card__phone-box">
        <span class="client__content__card__phone-box__title">Telefone</span>
        <p class="client__content__card__phone-box__content">(85)985680757</p>
      </div>
      <div class="client__content__card__actions-box">
        <button class="client__content__card__actions-box__action">Editar</button>
        <button class="client__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
    <div class="client__content__card">
      <div class="client__content__card__name-box">
        <span class="client__content__card__name-box__title">Nome</span>
        <p class="client__content__card__name-box__content">Elias</p>
      </div>
      <div class="client__content__card__phone-box">
        <span class="client__content__card__phone-box__title">Telefone</span>
        <p class="client__content__card__phone-box__content">(85)985680757</p>
      </div>
      <div class="client__content__card__actions-box">
        <button class="client__content__card__actions-box__action">Editar</button>
        <button class="client__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
  </section>
</section>