<section id="sale" class="sale --hide">
  <section id="sale__page-title__section" class="sale__page-title">
    <h2>Vendas</h2>
    <button id="sale__page-title__add__btn" class="sale__page-title__add">Nova Venda</button>
  </section>
  <section id="sale__search__section" class="sale__search">
    <form id="sale__search__form__form" class="sale__search__form">
      <label class="sale__search__form__input-box sale__search__form__input-box--little">
        <span class="sale__search__form__input-box__title">Id</span>
        <input class="sale__search__form__input-box__input" type="number" step="0.01" min="0" name="id">
      </label>
      <label class="sale__search__form__input-box">
        <span class="sale__search__form__input-box__title">Cliente</span>
        <input class="sale__search__form__input-box__input" type="text" name="client-name">
      </label>
      <label class="sale__search__form__input-box sale__search__form__input-box--medium">
        <span class="sale__search__form__input-box__title">Data</span>
        <input class="sale__search__form__input-box__input" type="date" name="date">
      </label>
      <label class="sale__search__form__input-box sale__search__form__input-box--little">
        <span class="sale__search__form__input-box__title">Total ( &lt )</span>
        <input class="sale__search__form__input-box__input" type="number" step="0.01" min="0" name="total">
      </label>
      <label class="sale__search__form__input-box">
        <span class="sale__search__form__input-box__title">Forma de Pagamento</span>
        <input class="sale__search__form__input-box__input" type="text" name="payment-name">
      </label>
      <input type="submit" class="--hide">
    </form>
  </section>
  <section id="sale__content__section" class="sale__content">
    <div class="sale__content__card">
      <div class="sale__content__card__sale-box">
        <div class="sale__content__card__sale-box__id-box">
          <span class="sale__content__card__sale-box__id-box__title">Id</span>
          <p class="sale__content__card__sale-box__id-box__content">${id}</p>
        </div>
        <div class="sale__content__card__sale-box__date-box">
          <span class="sale__content__card__sale-box__date-box__title">Data</span>
          <p class="sale__content__card__sale-box__date-box__content">${date}</p>
        </div>
      </div>
      <div class="sale__content__card__sale-box">
        <p class="sale__content__card__sale-box__name-box">
          ${clientName}
        </p>
        <p class="sale__content__card__sale-box__phone-box">
          ${clientPhone}
        </p>
      </div>
      <div class="sale__content__card__product-box">
        <div class="sale__content__card__product-box__product">
          <p class="sale__content__card__product-box__product__name-box">
            ${productName}
          </p>
          <p class="sale__content__card__product-box__product__quantity-box">
            <span>${productQuantity}</span>
            <span>KG</span>
          </p>
          <p class="sale__content__card__product-box__product__price-box">
            <span>R$</span>
            <span>${productPrice}</span>
          </p>
        </div>
      </div>
      <div class="sale__content__card__payment-box">
        <div class="sale__content__card__payment-box__payment">
          <p class="sale__content__card__payment-box__payment__name-box">
            ${paymentName}
          </p>
          <p class="sale__content__card__payment-box__payment__tatal-box">
            <span>R$</span>
            <span>${paymentTotal}</span>
          </p>
        </div>
      </div>
      <div class="sale__content__card__total-box">
        <p class="sale__content__card__total-box__content">
          ${saleTotal}
        </p>
      </div>
      <div class="sale__content__card__actions-box">
        <form data-id="sale__content__card__actions-box__update-form">
          <input type="hidden" name="type" value="update">
          <input type="hidden" name="id" value="${id}">
          <button class="sale__content__card__actions-box__action" type="submit">Editar</button>
        </form>
        <form data-id="sale__content__card__actions-box__delete-form">
          <input type="hidden" name="type" value="delete">
          <input type="hidden" name="id" value="${id}">
          <button class="sale__content__card__actions-box__action" type="submit">Excluir</button>
        </form>
      </div>
    </div>
  </section>










  <section class="sale__insert">
    <div class="sale__insert__title-box">
      <h2 class="sale__insert__title-box__title">Venda</h2>
    </div>
    <form id="sale__insert__form-section__client" class="sale__insert__form-section">
      <div class="sale__insert__form-section__header">
        <label class="sale__insert__form-section__box">
          <span class="sale__insert__form-section__box__title">Cliente</span>
          <input type="text" name="name" class="sale__insert__form-section__box__input">
        </label>
        <label class="sale__insert__form-section__box">
          <span class="sale__insert__form-section__box__title">Data</span>
          <input type="date" name="date" class="sale__insert__form-section__box__input">
        </label>
      </div>
    </form>
    <form id="sale__insert__form-section__product" class="sale__insert__form-section">
      <div class="sale__insert__form-section__header">
        <label class="sale__insert__form-section__header__box">
          <span class="sale__insert__form-section__header__box__title">Produto</span>
          <input type="text" name="name" class="sale__insert__form-section__header__box__input">
        </label>
        <label class="sale__insert__form-section__header__box">
          <span class="sale__insert__form-section__header__box__title">KG</span>
          <input type="number" min="0" step="0.01" name="kilogram" class="sale__insert__form-section__header__box__input">
        </label>
        <label class="sale__insert__form-section__header__box">
          <span class="sale__insert__form-section__header__box__title">Unitário</span>
          <input type="number" min="0" step="0.01" name="unitary" class="sale__insert__form-section__header__box__input">
        </label>
        <label class="sale__insert__form-section__header__box">
          <button type="submit" class="sale__insert__form-section__header__box__submit">
            Adicionar
          </button>
        </label>
      </div>
      <div class="sale__insert__form-section__body">
        <div class="sale__insert__form-section__body__item">
          <div class="sale__insert__form-section__body__item__data">Saco</div>
          <div class="sale__insert__form-section__body__item__data">Saco</div>
          <div class="sale__insert__form-section__body__item__data">Saco</div>
          <div class="sale__insert__form-section__body__item__data">X</div>
        </div>
        <div class="sale__insert__form-section__body__item">
          <div class="sale__insert__form-section__body__item__data">Saco</div>
          <div class="sale__insert__form-section__body__item__data">Saco</div>
          <div class="sale__insert__form-section__body__item__data">Saco</div>
          <div class="sale__insert__form-section__body__item__data">X</div>
        </div>
      </div>
    </form>
    <form id="sale__insert__form-section__payment" class="sale__insert__form-section">
      <div class="sale__insert__form-section__header">
        <label class="sale__insert__form-section__header__box">
          <span class="sale__insert__form-section__header__box__title">Forma de Pagamento</span>
          <input type="text" name="name" class="sale__insert__form-section__header__box__input">
        </label>
        <label class="sale__insert__form-section__header__box">
          <span class="sale__insert__form-section__header__box__title">Total</span>
          <input type="number" min="0" step="0.01" name="total" class="sale__insert__form-section__header__box__input">
        </label>
        <label class="sale__insert__form-section__header__box">
          <button type="submit" class="sale__insert__form-section__header__box__submit">
            Adicionar
          </button>
        </label>
      </div>
      <div class="sale__insert__form-section__body">
        <div class="sale__insert__form-section__body__item">
          <div class="sale__insert__form-section__body__item__data">Pix</div>
          <div class="sale__insert__form-section__body__item__data">
            <span>R$</span>
            <span>33,55</span>
          </div>
          <div class="sale__insert__form-section__body__item__data">X</div>
        </div>
        <div class="sale__insert__form-section__body__item">
          <div class="sale__insert__form-section__body__item__data">Credito</div>
          <div class="sale__insert__form-section__body__item__data">
            <span>R$</span>
            <span>39,55</span>
          </div>
          <div class="sale__insert__form-section__body__item__data">X</div>
        </div>
      </div>
    </form>
    <div class="sale__insert__form-section__total-box">
      <div class="sale__insert__form-section__total-box__content">
        <span class="sale__insert__form-section__total-box__content__text">R$</span>
        <span class="sale__insert__form-section__total-box__content__text">99,99</span>
      </div>
    </div>
    <div id="sale__insert__form-section__error-box" class="sale__insert__form-section__error-box">
    </div>
    <div class="sale__insert__form-section__submit-box">
      <button id="sale__insert__form-section__submit-box__cancel__btn" type="button" class="sale__insert__form-section__submit-box__cancel">
        Cancelar
      </button>
      <button id="sale__insert__form-section__submit-box__submit__btn" class="sale__insert__form-section__submit-box__submit">
        Salvar
      </button>
    </div>
  </section>










  <section id="sale__dialog-message__section" class="sale__dialog-message --hide">
    <div class="sale__dialog-message__title">
      <span class="material-symbols-outlined sale__dialog-message__title__icon">
        warning
      </span>
    </div>
    <div id="sale__dialog-message__content__text-box" class="sale__dialog-message__content">
    </div>
    <div class="sale__dialog-message__action-box">
      <button id="sale__dialog-message__action-box__action__no" class="sale__dialog-message__action-box__action">Não</button>
      <button id="sale__dialog-message__action-box__action__yes"class="sale__dialog-message__action-box__action">Sim</button>
    </div>
  </section>
</section>