<section id="sale" class="sale --hide">
  <section class="sale__page-title">
    <h2>Vendas</h2>
    <button class="sale__page-title__add">Nova Venda</button>
  </section>
  <section class="sale__search">
    <form class="sale__search__form">
      <label class="sale__search__form__input-box sale__search__form__input-box--little">
        <span class="sale__search__form__input-box__title">Id</span>
        <input class="sale__search__form__input-box__input" type="number">
      </label>
      <label class="sale__search__form__input-box">
        <span class="sale__search__form__input-box__title">Cliente</span>
        <input class="sale__search__form__input-box__input" type="text">
      </label>
      <label class="sale__search__form__input-box sale__search__form__input-box--medium">
        <span class="sale__search__form__input-box__title">Data</span>
        <input class="sale__search__form__input-box__input" type="date">
      </label>
      <label class="sale__search__form__input-box sale__search__form__input-box--little">
        <span class="sale__search__form__input-box__title">Preço ( &lt )</span>
        <input class="sale__search__form__input-box__input" type="text">
      </label>
      <label class="sale__search__form__input-box">
        <span class="sale__search__form__input-box__title">Forma de Pagamento</span>
        <select class="sale__search__form__input-box__input">
          <option value=""></option>
          <option value="">Pix</option>
          <option value="">Cartão</option>
          <option value="">Boleto</option>
        </select>
      </label>
    </form>
  </section>
  <section class="sale__content">
    <div class="sale__content__card">
      <div class="sale__content__card__sale-box">
        <div class="sale__content__card__sale-box__id-box">
          <span class="sale__content__card__sale-box__id-box__title">Id</span>
          <p class="sale__content__card__sale-box__id-box__content">2</p>
        </div>
        <div class="sale__content__card__sale-box__date-box">
          <span class="sale__content__card__sale-box__date-box__title">Data</span>
          <p class="sale__content__card__sale-box__date-box__content">22/22/2022</p>
        </div>
      </div>
      <div class="sale__content__card__client-box">
        <p class="sale__content__card__client-box__name-box">
          Fernando Henrique Pontes Pereira
        </p>
        <p class="sale__content__card__client-box__phone-box">
          (85)985680757
        </p>
      </div>
      <div class="sale__content__card__product-box">
        <div class="sale__content__card__product-box__product">
          <p class="sale__content__card__product-box__product__name-box">
            Teleston
          </p>
          <p class="sale__content__card__product-box__product__quantity-box">
            <span>15</span>
            <span>KG</span>
          </p>
          <p class="sale__content__card__product-box__product__price-box">
            <span>R$</span>
            <span>15,00</span>
          </p>
        </div>
        <div class="sale__content__card__product-box__product">
          <p class="sale__content__card__product-box__product__name-box">
            Takanato
          </p>
          <p class="sale__content__card__product-box__product__quantity-box">
            18 KG
          </p>
          <p class="sale__content__card__product-box__product__price-box">
            R$ 99,88
          </p>
        </div>
        <div class="sale__content__card__product-box__product">
          <p class="sale__content__card__product-box__product__name-box">
            Presley Kid
          </p>
          <p class="sale__content__card__product-box__product__quantity-box">
            1 KG
          </p>
          <p class="sale__content__card__product-box__product__price-box">
            R$ 1.586,99
          </p>
        </div>
      </div>
      <div class="sale__content__card__payment-box">
        <div class="sale__content__card__payment-box__payment">
          <p class="sale__content__card__payment-box__payment__name-box">
            Pix
          </p>
          <p class="sale__content__card__payment-box__payment__tatal-box">
            <span>R$</span>
            <span>18,55</span>
          </p>
        </div>
        <div class="sale__content__card__payment-box__payment">
          <p class="sale__content__card__payment-box__payment__name-box">
            Cartão de Credito
          </p>
          <p class="sale__content__card__payment-box__payment__tatal-box">
            <span>R$</span>
            <span>22,55</span>
          </p>
        </div>
      </div>
      <div class="sale__content__card__total-box">
        <p class="sale__content__card__total-box__content">
          R$ 869,99
        </p>
      </div>
      <div class="sale__content__card__actions-box">
        <button class="sale__content__card__actions-box__action">Editar</button>
        <button class="sale__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
    <div class="sale__content__card">
      <div class="sale__content__card__sale-box">
        <div class="sale__content__card__sale-box__id-box">
          <span class="sale__content__card__sale-box__id-box__title">Id</span>
          <p class="sale__content__card__sale-box__id-box__content">2</p>
        </div>
        <div class="sale__content__card__sale-box__date-box">
          <span class="sale__content__card__sale-box__date-box__title">Data</span>
          <p class="sale__content__card__sale-box__date-box__content">22/22/2022</p>
        </div>
      </div>
      <div class="sale__content__card__client-box">
        <p class="sale__content__card__client-box__name-box">
          Fernando Henrique Pontes Pereira
        </p>
        <p class="sale__content__card__client-box__phone-box">
          (85)985680757
        </p>
      </div>
      <div class="sale__content__card__product-box">
        <div class="sale__content__card__product-box__product">
          <p class="sale__content__card__product-box__product__name-box">
            Teleston
          </p>
          <p class="sale__content__card__product-box__product__quantity-box">
            <span>15</span>
            <span>KG</span>
          </p>
          <p class="sale__content__card__product-box__product__price-box">
            <span>R$</span>
            <span>15,00</span>
          </p>
        </div>
        <div class="sale__content__card__product-box__product">
          <p class="sale__content__card__product-box__product__name-box">
            Takanato
          </p>
          <p class="sale__content__card__product-box__product__quantity-box">
            18 KG
          </p>
          <p class="sale__content__card__product-box__product__price-box">
            R$ 99,88
          </p>
        </div>
        <div class="sale__content__card__product-box__product">
          <p class="sale__content__card__product-box__product__name-box">
            Presley Kid
          </p>
          <p class="sale__content__card__product-box__product__quantity-box">
            1 KG
          </p>
          <p class="sale__content__card__product-box__product__price-box">
            R$ 1.586,99
          </p>
        </div>
      </div>
      <div class="sale__content__card__payment-box">
        <div class="sale__content__card__payment-box__payment">
          <p class="sale__content__card__payment-box__payment__name-box">
            Pix
          </p>
          <p class="sale__content__card__payment-box__payment__tatal-box">
            <span>R$</span>
            <span>18,55</span>
          </p>
        </div>
        <div class="sale__content__card__payment-box__payment">
          <p class="sale__content__card__payment-box__payment__name-box">
            Cartão de Credito
          </p>
          <p class="sale__content__card__payment-box__payment__tatal-box">
            <span>R$</span>
            <span>22,55</span>
          </p>
        </div>
      </div>
      <div class="sale__content__card__total-box">
        <p class="sale__content__card__total-box__content">
          R$ 869,99
        </p>
      </div>
      <div class="sale__content__card__actions-box">
        <button class="sale__content__card__actions-box__action">Editar</button>
        <button class="sale__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
    <div class="sale__content__card">
      <div class="sale__content__card__sale-box">
        <div class="sale__content__card__sale-box__id-box">
          <span class="sale__content__card__sale-box__id-box__title">Id</span>
          <p class="sale__content__card__sale-box__id-box__content">2</p>
        </div>
        <div class="sale__content__card__sale-box__date-box">
          <span class="sale__content__card__sale-box__date-box__title">Data</span>
          <p class="sale__content__card__sale-box__date-box__content">22/22/2022</p>
        </div>
      </div>
      <div class="sale__content__card__client-box">
        <p class="sale__content__card__client-box__name-box">
          Fernando Henrique Pontes Pereira
        </p>
        <p class="sale__content__card__client-box__phone-box">
          (85)985680757
        </p>
      </div>
      <div class="sale__content__card__product-box">
        <div class="sale__content__card__product-box__product">
          <p class="sale__content__card__product-box__product__name-box">
            Teleston
          </p>
          <p class="sale__content__card__product-box__product__quantity-box">
            <span>15</span>
            <span>KG</span>
          </p>
          <p class="sale__content__card__product-box__product__price-box">
            <span>R$</span>
            <span>15,00</span>
          </p>
        </div>
        <div class="sale__content__card__product-box__product">
          <p class="sale__content__card__product-box__product__name-box">
            Takanato
          </p>
          <p class="sale__content__card__product-box__product__quantity-box">
            18 KG
          </p>
          <p class="sale__content__card__product-box__product__price-box">
            R$ 99,88
          </p>
        </div>
        <div class="sale__content__card__product-box__product">
          <p class="sale__content__card__product-box__product__name-box">
            Presley Kid
          </p>
          <p class="sale__content__card__product-box__product__quantity-box">
            1 KG
          </p>
          <p class="sale__content__card__product-box__product__price-box">
            R$ 1.586,99
          </p>
        </div>
      </div>
      <div class="sale__content__card__payment-box">
        <div class="sale__content__card__payment-box__payment">
          <p class="sale__content__card__payment-box__payment__name-box">
            Pix
          </p>
          <p class="sale__content__card__payment-box__payment__tatal-box">
            <span>R$</span>
            <span>18,55</span>
          </p>
        </div>
        <div class="sale__content__card__payment-box__payment">
          <p class="sale__content__card__payment-box__payment__name-box">
            Cartão de Credito
          </p>
          <p class="sale__content__card__payment-box__payment__tatal-box">
            <span>R$</span>
            <span>22,55</span>
          </p>
        </div>
      </div>
      <div class="sale__content__card__total-box">
        <p class="sale__content__card__total-box__content">
          R$ 869,99
        </p>
      </div>
      <div class="sale__content__card__actions-box">
        <button class="sale__content__card__actions-box__action">Editar</button>
        <button class="sale__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
  </section>
</section>