.product {
  padding: 20px 80px 0px 80px;
}

.product__page-title {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__page-title__add {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--cl-green-0);
}

.product__search {
  padding-bottom: 20px;
}

.product__search__form {
  display: flex;
  flex-wrap: wrap;
}

.product__search__form__input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
  margin-right: 20px;
  margin-bottom: 5px;
}

.product__search__form__input-box--little {
  max-width: 100px;
}

.product__search__form__input-box__title {
  color: var(--cl-black-0);
  font-weight: bold;
  font-size: .8rem;
}

.product__search__form__input-box__input {
  align-self: stretch;
  border: 1px solid var(--cl-white-2);
  outline: none;
  padding: 5px;
  color: var(--cl-black-1);
  transition: .3s;
}

.product__search__form__input-box__input:focus {
  border: 1px solid var(--cl-green-0);
}

.product__search__form__input-box__input:hover {
  border: 1px solid var(--cl-green-0);
}

.product__content {
  display: flex;
  flex-direction: column;
}

.product__content__card {
  margin-bottom: 20px;
  background-color: var(--cl-white-0);
  border: 1px solid var(--cl-white-2);
  padding: 20px;
  display: flex;
  align-items: center;
}

.product__content__card__id-box {
  margin-right: 40px;
}

.product__content__card__id-box__title {
  color: var(--cl-black-0);
  font-weight: bold;
  font-size: .8rem;
}

.product__content__card__id-box__content {
  color: var(--cl-black-1);
}

.product__content__card__name-box {
  flex: 1 1 auto;
  margin-right: 40px;
}

.product__content__card__name-box__title {
  color: var(--cl-black-0);
  font-weight: bold;
  font-size: .8rem;
}

.product__content__card__name-box__content {
  color: var(--cl-black-1);
}

.product__content__card__price-box {
  margin-right: 40px;
}

.product__content__card__price-box__title {
  color: var(--cl-black-0);
  font-weight: bold;
  font-size: .8rem;
}

.product__content__card__price-box__content {
  color: var(--cl-black-1);
}

.product__content__card__actions-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__content__card__actions-box__action {
  background-color: transparent;
  border: none;
  color: var(--cl-green-0);
  cursor: pointer;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .product {
    padding: 20px 40px 80px 40px;
  }

  .product__page-title {
    padding: 10px 0;
  }

  .product__search {
    padding-bottom: 10px;
  }

  .product__content__card {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .product__content__card__id-box,
  .product__content__card__name-box,
  .product__content__card__price-box {
    margin: 0;
    margin-bottom: 5px;
  }

  .product__content__card__actions-box {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 400px) {
  .product {
    padding: 10px 20px 80px 20px;
  }
}