<section id="product" class="product --hide">
  <section class="product__page-title">
    <h2>Produtos</h2>
    <button class="product__page-title__add">Novo Produto</button>
  </section>
  <section class="product__search">
    <form class="product__search__form">
      <label class="product__search__form__input-box">
        <span class="product__search__form__input-box__title">Nome</span>
        <input class="product__search__form__input-box__input" type="text">
      </label>
      <label class="product__search__form__input-box product__search__form__input-box--little">
        <span class="product__search__form__input-box__title">Preço menor que</span>
        <input class="product__search__form__input-box__input" type="text">
      </label>
    </form>
  </section>
  <section class="product__content">
    <div class="product__content__card">
      <div class="product__content__card__name-box">
        <span class="product__content__card__name-box__title">Nome</span>
        <p class="product__content__card__name-box__content">Saco plastico</p>
      </div>
      <div class="product__content__card__price-box">
        <span class="product__content__card__price-box__title">Preço KG</span>
        <p class="product__content__card__price-box__content">R$ 5,60</p>
      </div>
      <div class="product__content__card__actions-box">
        <button class="product__content__card__actions-box__action">Editar</button>
        <button class="product__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
    <div class="product__content__card">
      <div class="product__content__card__name-box">
        <span class="product__content__card__name-box__title">Nome</span>
        <p class="product__content__card__name-box__content">Ferro</p>
      </div>
      <div class="product__content__card__price-box">
        <span class="product__content__card__price-box__title">Preço KG</span>
        <p class="product__content__card__price-box__content">R$ 10,80</p>
      </div>
      <div class="product__content__card__actions-box">
        <button class="product__content__card__actions-box__action">Editar</button>
        <button class="product__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
    <div class="product__content__card">
      <div class="product__content__card__name-box">
        <span class="product__content__card__name-box__title">Nome</span>
        <p class="product__content__card__name-box__content">Cobre</p>
      </div>
      <div class="product__content__card__price-box">
        <span class="product__content__card__price-box__title">Preço KG</span>
        <p class="product__content__card__price-box__content">R$ 1,60</p>
      </div>
      <div class="product__content__card__actions-box">
        <button class="product__content__card__actions-box__action">Editar</button>
        <button class="product__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
    <div class="product__content__card">
      <div class="product__content__card__name-box">
        <span class="product__content__card__name-box__title">Nome</span>
        <p class="product__content__card__name-box__content">Plástico</p>
      </div>
      <div class="product__content__card__price-box">
        <span class="product__content__card__price-box__title">Preço KG</span>
        <p class="product__content__card__price-box__content">R$ 18,00</p>
      </div>
      <div class="product__content__card__actions-box">
        <button class="product__content__card__actions-box__action">Editar</button>
        <button class="product__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
  </section>
</section>