<section id="product" class="product --hide">
  <section id="product__page-title__section" class="product__page-title">
    <h2>Produtos</h2>
    <button id="product__page-title__add__btn" class="product__page-title__add">Novo Produto</button>
  </section>
  <section id="product__search__section" class="product__search">
    <form id="product__search__form__form" class="product__search__form">
      <label class="product__search__form__input-box product__search__form__input-box--little">
        <span class="product__search__form__input-box__title">Id</span>
        <input class="product__search__form__input-box__input" type="number" name="id">
      </label>
      <label class="product__search__form__input-box">
        <span class="product__search__form__input-box__title">Nome</span>
        <input class="product__search__form__input-box__input" type="text" name="name">
      </label>
      <label class="product__search__form__input-box product__search__form__input-box--little">
        <span class="product__search__form__input-box__title">Preço ( &lt )</span>
        <input class="product__search__form__input-box__input" type="number" min="0" step="0.01" name="price">
      </label>
      <input type="submit" class="--hide">
    </form>
  </section>
  <section id="product__content__section" class="product__content">
    <div class="product__content__card">
      <div class="product__content__card__id-box">
        <span class="product__content__card__id-box__title">Id</span>
        <p class="product__content__card__id-box__content">${id}</p>
      </div>
      <div class="product__content__card__name-box">
        <span class="product__content__card__name-box__title">Nome</span>
        <p class="product__content__card__name-box__content">${name}</p>
      </div>
      <div class="product__content__card__price-box">
        <span class="product__content__card__price-box__title">Preço KG</span>
        <p class="product__content__card__price-box__content">
          <span>R$ </span>
          <span>${price}</span>
        </p>
      </div>
      <div class="product__content__card__actions-box">
        <form data-id="product__content__card__actions-box__update-form">
          <input type="hidden" name="type" value="update">
          <input type="hidden" name="id" value="${id}">
          <button class="product__content__card__actions-box__action" type="submit">Editar</button>
        </form>
        <form data-id="product__content__card__actions-box__delete-form">
          <input type="hidden" name="type" value="delete">
          <input type="hidden" name="id" value="${id}">
          <button class="product__content__card__actions-box__action" type="submit">Excluir</button>
        </form>
      </div>
    </div>
  </section>
  <section id="product__insert__section" class="product__insert --hide">
    <div class="product__insert__title-box">
      <h2 class="product__insert__title-box__title">Produto</h2>
    </div>
    <form id="product__insert__form__form" class="product__insert__form">
      <input type="hidden" name="id" value="0">
      <div class="product__insert__form__input-box">
        <span class="product__insert__form__input-box__title">Nome</span>
        <input class="product__insert__form__input-box__input" type="text" name="name">
      </div>
      <div class="product__insert__form__input-box">
        <span class="product__insert__form__input-box__title">Preço KG</span>
        <input class="product__insert__form__input-box__input" type="number" name="price" min="0" step="0.01">
      </div>
      <div id="product__insert__form__error-box__section" class="product__insert__form__error-box">
      </div>
      <div class="product__insert__form__submit-box">
        <button id="product__insert__form__submit-box__cancel__btn" type="button" class="product__insert__form__submit-box__cancel">
          Cancelar
        </button>
        <button class="product__insert__form__submit-box__submit">
          Salvar
        </button>
      </div>
    </form>
  </section>
  <section id="product__dialog-message__section" class="product__dialog-message --hide">
    <div class="product__dialog-message__title">
      <span class="material-symbols-outlined product__dialog-message__title__icon">
        warning
      </span>
    </div>
    <div id="product__dialog-message__content__text-box" class="product__dialog-message__content">
    </div>
    <div class="product__dialog-message__action-box">
      <button id="product__dialog-message__action-box__action__no" class="product__dialog-message__action-box__action">Não</button>
      <button id="product__dialog-message__action-box__action__yes"class="product__dialog-message__action-box__action">Sim</button>
    </div>
  </section>
</section>