<header class="header">
  <div class="logo">
    <a href="./">
      <h1>Kylogramer</h1>
    </a>
  </div>
  <nav id="nav" class="nav">
    <div class="nav-actions">
      <div class="logo">
        <a href="./">
          <h1>Kylogramer</h1>
        </a>
      </div>
      <button id="btn-close-nav" class="btn btn--icon">
        <span class="material-symbols-outlined">
          close
        </span>
      </button>
    </div>
    <ul>
      <li><a class="btn" href="./clientes.php">Clientes</a></li>
      <li><a class="btn" href="./produtos.php">Produtos</a></li>
      <li><a class="btn" href="./vendas.php">Vendas</a></li>
      <li><a class="btn" href="./pagamentos.php">Pagamentos</a></li>
    </ul>
  </nav>
</header>