<section id="payment" class="payment --hide">
  <section class="payment__page-title">
    <h2>Formas de pagamento</h2>
    <button class="payment__page-title__add">Nova Forma de pagamento</button>
  </section>
  <section class="payment__search">
    <form class="payment__search__form">
      <label class="payment__search__form__input-box payment__search__form__input-box--little">
        <span class="payment__search__form__input-box__title">Id</span>
        <input class="payment__search__form__input-box__input" type="number">
      </label>
      <label class="payment__search__form__input-box">
        <span class="payment__search__form__input-box__title">Nome</span>
        <input class="payment__search__form__input-box__input" type="text">
      </label>
      <input type="submit" class="--hide">
    </form>
  </section>
  <section class="payment__content">
    <div class="payment__content__card">
      <div class="payment__content__card__id-box">
        <span class="payment__content__card__id-box__title">Id</span>
        <p class="payment__content__card__id-box__content">33</p>
      </div>
      <div class="payment__content__card__name-box">
        <span class="payment__content__card__name-box__title">Nome</span>
        <p class="payment__content__card__name-box__content">Cartão de Credito</p>
      </div>
      <div class="payment__content__card__actions-box">
        <button class="payment__content__card__actions-box__action">Editar</button>
        <button class="payment__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
    <div class="payment__content__card">
      <div class="payment__content__card__id-box">
        <span class="payment__content__card__id-box__title">Id</span>
        <p class="payment__content__card__id-box__content">33</p>
      </div>
      <div class="payment__content__card__name-box">
        <span class="payment__content__card__name-box__title">Nome</span>
        <p class="payment__content__card__name-box__content">Cartão de Credito</p>
      </div>
      <div class="payment__content__card__actions-box">
        <button class="payment__content__card__actions-box__action">Editar</button>
        <button class="payment__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
    <div class="payment__content__card">
      <div class="payment__content__card__id-box">
        <span class="payment__content__card__id-box__title">Id</span>
        <p class="payment__content__card__id-box__content">33</p>
      </div>
      <div class="payment__content__card__name-box">
        <span class="payment__content__card__name-box__title">Nome</span>
        <p class="payment__content__card__name-box__content">Cartão de Credito</p>
      </div>
      <div class="payment__content__card__actions-box">
        <button class="payment__content__card__actions-box__action">Editar</button>
        <button class="payment__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
    <div class="payment__content__card">
      <div class="payment__content__card__id-box">
        <span class="payment__content__card__id-box__title">Id</span>
        <p class="payment__content__card__id-box__content">33</p>
      </div>
      <div class="payment__content__card__name-box">
        <span class="payment__content__card__name-box__title">Nome</span>
        <p class="payment__content__card__name-box__content">Cartão de Credito</p>
      </div>
      <div class="payment__content__card__actions-box">
        <button class="payment__content__card__actions-box__action">Editar</button>
        <button class="payment__content__card__actions-box__action">Excluir</button>
      </div>
    </div>
  </section>
</section>